<div class="max-w-5xl mx-auto mt-10">
    <div class="flex justify-between items-center mb-5">
        <h1 class="text-3xl font-bold">Department List</h1>
        <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" (click)="createDepartment.emit()">
            Create Department
        </button>
    </div>

    <table class="w-full border border-gray-300 shadow-md bg-white">
        <thead class="bg-gray-200">
            <tr>
                <th class="py-2 px-4">ID</th>
                <th class="py-2 px-4">Name</th>
                <th class="py-2 px-4">Location</th>
                <th class="py-2 px-4">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dep of departments" class="border-t hover:bg-gray-100 transition">
                <td class="py-2 px-4 text-center">{{ dep.id }}</td>
                <td class="py-2 px-4">{{ dep.name }}</td>
                <td class="py-2 px-4">{{ dep.location }}</td>
                <td class="py-2 px-4 flex justify-center gap-2">
                    <button class="bg-green-500 text-white px-3 py-1 rounded hover:bg-green-600"
                        (click)="edit(dep)">Edit</button>
                    <button class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600"
                        (click)="deleteDepartment(dep.id!)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>